#15 Mb for now
REACT_APP_FILE_SIZE_LIMIT=15000000 
REACT_APP_SUPPORTED_IMAGE_FORMATS=image/jpg;image/jpeg;image/gif;image/png;image/svg+xml

#really should fetch this from the graphql server
PUBLIC_GROUP_ID=


